.HF {
  width: 100vw;
  border: 1px solid black;
  background-color: white;
  font-family: "montserrat", sans-serif;
}

#header {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 100;
  /* padding: 0 3rem; */
}
#footer {
  height: 60px;
}

.logo {
  height: 60%;
}

/* -------------------------------------------------------- */
.page {
  font-size: 1.6rem;
  border-bottom: white 4px solid;
}
.page:hover {
  color: var(--prpl_2);
  border-bottom: var(--prpl_2) 4px solid;
  cursor: pointer;
}
.pageM {
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  padding: 1rem;
}

/* -------------------------------------------------------- */
#side-panel {
  width: 24rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  flex-direction: column;
  background-color: white;
  opacity: 0.95;
  border: 1px solid black;
  transition: all 0.5s ease;
  z-index: 500;
}

/* -------------------------------------------------------------------------- */

#copyright {
  font-size: 1.6rem;
  color: var(--prpl_1);
  /* font-family: "montserrat", sans-serif; */
}

.social {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  border: 1px solid white;
}
.social:hover {
  border: 1px solid var(--green);
  background-color: var(--prpl_1);
}
